@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

//reset

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
	display: block;
}
/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
    display: none;
}
body {
	line-height: 1;
}
menu, ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    vertical-align: bottom;
}

// reset end




body {
    font-family: "Roboto Slab", serif;
}

section {
    
    margin: 20px auto; 
}

.container {
    margin: 0 auto;
    max-width: 1440px;
}

.light__bg {
    background: #F9F8F5;
}

.dark__bg{
    background:#9b9a99;
}

.winners__title,
.winners__content-title {
    font-size: clamp(25px, 5vw, 40px);
    line-height: 1.5;
}

.winners__items {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 40px 0px;

    @media (max-width: 1140px) {
        flex-direction: column;
    }
}

.section__inner{
    padding: 0px clamp(15px, 0.15 * (100vw - 425px) + 15px, 165px);
}


.winners__item:first-child {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    width: 100%;
    margin-bottom: 60px;

    & .winners__content {
        max-width: 440px;
    }

    & .winners__content-lable::before {
        content: url(../images/icon_cup.svg);
        vertical-align: middle;
        padding-right: 5px;
    }
    & .place-2, .place-3{
        display: none;
    }

    & .winners__content-title {
        border-bottom: 2px dashed #C9C5B9;
        margin-bottom: 16px;
    }

    & .winners__content-challenge {
        font-size: 16px;
        margin-bottom: 20px;
    }
    .winners__img {
        overflow: hidden;
    }
}

.winners__item:not(:first-child) {
    flex: 2;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    max-width: calc((100% - 30px)/2);

    & .winners__content {
        max-width: calc(100% - 12.03%);
        background-color: #fff;
        box-shadow: 0px 4px 12px 0px rgba(88, 79, 76, 0.15);
        padding: 31px 24px;
        margin-top: -120px;
    }

    & .winners__content-lable::before {
        content: url(../images/icon_place.svg);
        vertical-align: middle;
        padding-right: 10px;
    }
    & .place-1{
        display:none;
    }
    & .winners__content-title {
        margin-bottom: 16px;
        font-size: 25px;
    }

    & .winners__content-challenge {
        font-size: 16px;
        margin-bottom: 20px;
    }

    & .winners__img {
        border-top: 9px solid red;
        max-width: 100%;
        overflow: hidden;
    }
}

.winners__item:nth-child(2){
    .place-3{
        display: none;
    }
}

.winners__item:nth-child(3){
    .place-2{
        display: none;
    }
}

.winners__content {
    position: relative;
    z-index: 1;
}

.winners__content-lable {
    color: red;
}

.winners__content-title {}

.winners__content-challenge {}

.winners__content-text {
    font-weight: 300;
    margin-bottom: 20px;
    line-height: 2;
    font-size: 16px;
}

.winners__content-time {
    font-size: 14px;

    &::before {
        content: url(../images/icon_calendar.svg);
        padding-right: 5px;
        vertical-align: bottom;
    }
}

@media (min-width: 1140px) {
    .winners__img img{
        transition: all 0.5s;
    }
    .winners__item:not(:first-child):hover img{
        transform: scale(1.1);
    }
}

@media (max-width: 1140px) {

    .winners__item:first-child,
    .winners__item:not(:first-child) {
        flex-direction: column-reverse;
        align-items: flex-end;
        max-width: 100%;
        margin-bottom: 40px;
        & .winners__img, .winners__img *{
            width: 100%;
        }
    
        & .winners__img img {
            width: inherit;
        }
    }

    
    .winners__item:first-child {
        & .winners__content {
            width: 100%;
            max-width: 100%;
        }
    }
    
    .winners__item:not(:first-child) {
        & .winners__content {
            margin-top: -60px;
            margin-left: 40px;
            width: 92%;
            padding: 23px 30px;
        }
    }
}

@media (max-width: 768px) {
    .winners__item:not(:first-child) {
        & .winners__content {
            margin-top: -30px;
            padding: 23px 30px;
        }
        }
        .winners__item:not(:first-child), .winners__item:first-child {
        & .winners__content-challenge{
            margin-bottom: 10px;
        }
    }
    
    .winners__content-text{
        margin-bottom: 10px;
    }
}
